*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-container{
    height: 100vh;
    width:100vw;
    
}
.container1{
    height: 10%;
    border-radius: 10px;
    display: flex;
    background-color: rgb(27, 4, 54);
    justify-content: space-between;
    align-items: center;
}
.botomcontainer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 170%;
    position: sticky;
    
}
.bottom{
    height: 30px;
    width: 30px;
    background-image: url("/Home\ page/perfewm.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    
}

.pra1{
    font-size: 20px;
    color: white;
    margin-left: 5px;
}
.pra2{
    font-size: 20px;
    color: white;

}
.btn1{
    height: 50%;
    width: 8%;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
}
a{
    text-decoration: none;
}
.container2{
    height: 90%;
    width: 100%;
    display: flex;   
}
.sidebar{
    height:100%;
    width: 20%;
    padding: 20px;
    background-color: rgb(206, 206, 249);
}
.container3{
    height: 100%;
    width: 80%;
    padding: 10px;
    /* background-color: rgb(238, 235, 235); */
    overflow-y: scroll;   
}
.box2   {
    margin-top: 10px;
    width: 100%;
    height: 35%;
    border: 1px solid black;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;  
}
.product-image1{
    height: 97%;
    width: 22%;
    margin:5px;
    background-image: url("/Home\ page/perfewm 2.jpg");
    background-size: cover;
    background-position: center;
   
}
.product-image2{
    height: 97%;
    width: 22%;
    margin: 5px;
    background-image: url("/Home\ page/perfewm.jpg");
    background-size: cover;
    background-position: center;

}
.product-image3{
    height: 97%;
    width: 22%;
    margin: 5px;
    background-image: url("/Home\ page/perfewm3.jpg");
    /* background-image: url("/perfewm3.jpg"); */
    background-size: cover;
    background-position: center;
}
.product-image4{
    height: 97%;
    width: 22%;
    margin: 5px;
    background-image: url("https://media.allure.com/photos/58deaeda586b8816e95ef67c/master/pass/green-beauty.jpg");
    background-size: cover;
    background-position: center;
}

.product-image5{
    height: 97%;
    width: 22%;
    margin: 5px;
    background-image: url("https://static1.squarespace.com/static/5442b6cce4b0cf00d1a3bef2/t/57a8b9b26b8f5b8c65df4b30/1495746273846/");
    background-size: cover;
    background-position: center;
}

.btn{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    
}
.btn3{
    height: 35px;
    width: 100px;
    padding: 10px;
    background-color:blue;
    color:white; 
    border-radius: 10px;
    border: none;
      
}
.btn4{
    height: 35px;
    width: 100px;
    margin-top: 5px;
    padding: 10px; 
    background-color: blue;
    color:white;
    border-radius: 10px;
    border: none;

}

ul{
    list-style: none;
    font-size: 20px;
    margin-top: 5px;
}
ul li{
    margin-top: 5px;
}
@media (max-width:500px) {
    .sidebar{
        display: none;
    }
    

    .container3{
        width: 100%;
    }
    .box2{
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        
    }
    .product-image1{
        display: flex;
        flex-direction: column;
        order: 0;   
    }
    
    .pra1{
        font-size: 18px;
    
    }
    .container1{
        justify-content: flex-end;
        display: flex;
        gap: 10px;
    }
    .btn1{
        width: 100px;
    }
    
    .box2 p{
        order: 1;
        
    }
    .btn{
        display: flex;
        flex-direction: row;
        order: 2;
        gap: 10px;
        margin: 5px;
        
    }
    .btn4{
        margin-top: 0px;
    }
       
}
